<h1>Welcome to Rock, Paper, Scissors</h1>

<p>Please enter your two hand positons in the address bar.</p>
<p>The game will then magically tell you which one has won.</p>
<p>Or maybe it will be a draw...........exciting!!!</p>
